{% extends 'base.html' %}
{% load static %}

{% block title %}ATMS Survey Form{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Survey Form</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <a href="{% url 'survey' %}">
            Survey Dashboard
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Survey Form</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats card-round">
          <div class="card-header d-print-none text-start">
            <a href="{% url 'survey' %}"><button class="btn btn-black btn-sm"><strong><i class="ri-arrow-left-circle-line"></i></i> Back</strong></button></a>
          </div>
          <div class="card-body">
            <div class="row">
              <h5 class="pb-1"><strong>Basic Details</strong></h5>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="serviceNo">Service No.</label>
                   <input type="text" id="serviceNo" name="serviceNo" class="form-control">
                </div>
              </div>
              <div>
                <p style="padding:5px 0px 0px 15px" class="text-danger text-start">OR</p>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="surveyNo">Survey No.</label>
                  <input type="text" id="surveyNo" name="surveyNo" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <h5 class="pt-2"><strong>Firm Area Details</strong></h5>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="wardNo">Ward No.<i class="ri-asterisk"></i></label>
                    <select class="form-select" id="wardNo" name="wardNo" required>
                      <option value="">Select Ward No.</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                   </select>    
                </div>                       
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="shopArea">Shop Area (in Sq.ft)<i class="ri-asterisk"></i></label>
                  <input type="number" id="shopArea" name="shopArea" class="form-control" placeholder="Enter shop area" required>
                </div>
              </div>
            </div>
            <div class="row">
              <h5 class="pt-2"><strong>Firm Details</strong></h5>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="firmName">Firm Name<i class="ri-asterisk"></i></label>
                   <input type="text" id="firmName" name="firmName" class="form-control" placeholder="Enter firm name" required>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="mobile">Mobile No.<i class="ri-asterisk"></i></label>
                  <input type="number" id="mobile" name="mobile" class="form-control" placeholder="Enter mobile number" required>
                </div>
              </div>                      
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="firmAddress">Firm Address<i class="ri-asterisk"></i></label>
                  <textarea id="firmAddress" name="firmAddress" class="form-control" rows="3" cols="20" placeholder="Enter firm address" required></textarea>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="pincode">Pin Code<i class="ri-asterisk"></i></label>
                  <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Enter pin code" required>
                </div>
              </div>
            </div>
            <div>
              <h5 class="pt-2"><strong>Advertisement Details</strong></h5>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="boardType">Board Type<i class="ri-asterisk"></i></label>
                        <select class="form-select" id="boardType" name="boardType" required>
                          <option value="">Select Board Type</option>
                          <option value="">Digital LED screens</option>
                          <option value="">Glow sign boards</option>
                          <option value="">3D Letter Boards</option>
                      </select>    
                    </div>                       
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="hoardingType">Hoarding Type<i class="ri-asterisk"></i></label>
                        <select class="form-select" id="hoardingType" name="hoardingType" required>
                          <option value="">Select Hoarding Type</option>
                          <option value="">Traditional Billboards</option>
                          <option value="">Backlit/Frontlit Hoardings</option>
                          <option value="">Digital Hoardings</option>
                          <option value="">Unipole Hoardings</option>
                      </select>    
                    </div>                       
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="storeCode">Store Code<i class="ri-asterisk"></i></label>
                      <input type="text" id="storeCode" name="storeCode" class="form-control" placeholder="Enter store code" required>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="location">Location<i class="ri-asterisk"></i></label>
                      <input type="text" id="location" name="location" class="form-control" placeholder="Enter location" required>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="length">Length (in Ft.)<i class="ri-asterisk"></i></label>
                      <input type="number" id="length" name="length" class="form-control" placeholder="Enter length" required>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="breadth">Breadth (in Ft.)<i class="ri-asterisk"></i></label>
                      <input type="number" id="breadth" name="breadth" class="form-control" placeholder="Enter breadth" required>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="financialYear">Financial Year<i class="ri-asterisk"></i></label>
                        <select class="form-select" id="financialYear" name="financialYear" required>
                          <option value="">Select Financial Year</option>
                          <option value="">2024-2025</option>
                          <option value="">2025-2026</option>
                        </select>    
                    </div>                       
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="rateType">Rate Type<i class="ri-asterisk"></i></label>
                        <select class="form-select" id="rateType" name="rateType">
                          <option value="">Select Rate Type</option>
                          <option value="">Flat rate</option>
                        </select>    
                    </div>                       
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mx-2">
                      <button type="submit" class="btn btn-primary btn-sm my-2 mx-1" name="submit"><strong>Add</strong></button>
                      <button type="submit" class="btn btn-danger btn-sm" name="submit"><strong>Remove</strong></button>
                  </div>
                </div>
            </div>
            <div class="d-print-none">
                <p class="text-center pt-2">
                    <a href="{% url 'adv-survey-form-view' %}"><button type="submit" class="btn btn-success btn-sm" name="submit"><strong>Preview</strong></button></a>
                </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
