{% extends 'base.html' %}
{% load static %}

{% block title %}ATMS Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-2">
            <div>
            <h4 class="fw-bold mb-3">Dashboard | Advertisement Tax Services</h4>
            </div>
        </div>
        <div class="row" id="tcDashboard">
            <div class="col-sm-12 col-md-12">
              <div class="card card-stats card-round">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="card card-stats card-round tcCard">
                        <a href="{% url 'survey' %}">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-icon">
                                  <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="ri-survey-line"></i>
                                  </div>
                              </div>
                              <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                  <h4 class="card-title">Survey</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="card card-stats card-round tcCard">
                        <a href="{% url 'search-advertisement' %}">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-icon">
                                  <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="ri-artboard-line"></i>
                                  </div>
                              </div>
                              <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                  <h4 class="card-title">Search Advertisement</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="card card-stats card-round tcCard">
                        <a href="#">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-icon">
                                  <div class="icon-big text-center icon-warning bubble-shadow-small">
                                    <i class="ri-bank-card-line"></i>
                                  </div>
                              </div>
                              <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                  <h4 class="card-title">Pay Advertisement Tax</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="card card-stats card-round tcCard">
                        <a href="{% url 'search-adv-visit' %}">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-icon">
                                  <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="ri-file-list-3-line"></i>
                                  </div>
                              </div>
                              <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                  <h4 class="card-title">Visit Report</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                                  
                  </div>

                </div>
              </div>
            </div>
            
          </div>
    </div>
</div>
{% endblock %}