{% extends 'baseAuthority.html' %}
{% load static %}

{% block title %}ATMS Advertisement Survey Form{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Advertisement Survey Form</h4>
    </div>
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card card-stats card-round">
          <div class="card-body">
            
            <div class="row" style="width:206mm;height:auto;margin:auto; padding:8px;" id="printableArea">
              <div class="table-responsive demandPrintView" style="width:100%; background:#FFFFFF; padding: 4px; border:#080074 solid 2px;">
                <table class="display table table-borderless" width="100%">
                  <tbody>
                    <tr>
                      <td style="width: 15%; padding: 0px;">
                        <div style="float:left; width:80px; padding:1px;  text-align:left; ">
                          <img src="{% static 'images/logo/ulb_logo.png' %}" alt="Janani Logo" width="80">
                        </div>
                      </td>
                      <td style=" text-align:center; color:#080074; line-height:28px;  padding-top:5px; margin: auto; width: 75%;">
                        <div class="text-center" >
                          <span style="font-weight:bold; font-size:26px">नगर निगम जयपुर</span>
                        <br>
                        <span style="font-size:14px">विज्ञापन शुल्क के स्व-निर्धारण के लिए प्रपत्र</span>
                        <br>
                        <span style="font-size:14px">(जयपुर नगर निगम (विज्ञापन)(संशोधन)उपविधियां, 2008 की उप-विधि 2 के खण्ड (स,ध) के अंतर्गत)</span>
                        </div>
                      </td>
                      <td style="width:10%;">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <table class="display table-borderless" width="100%">
                    <tbody>
                      <tr style="border-top: 0px">
                        <td width="50%"></td>
                        <td width="50%"> ADV1228202671502</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="py-1">
                  <table class="display table-borderless" width="100%">
                    <tbody>
                      <tr>
                        <td style="width: 45%;">
                          <table class="display table-borderless" width="100%" style="margin-bottom: 0.5rem;">
                            <tbody>
                              <tr style="line-height: 1.4;">
                                <td style="display: flex; border-bottom: 0px; padding: 0px !important;" class="my-2">
                                  प्रेषित,  
                                </td>
                              </tr>
                              <tr style="line-height: 1.4;">
                                <td style="display: flex; border-bottom: 0px; padding: 0px !important;" class="my-2">
                                  आयुक्त  
                                  <span style="width:250px; border-bottom: 2px dotted black"><strong style="margin-left: 14px;">&nbsp;</strong></span>
                                </td>
                              </tr>
                              <tr style="line-height: 2;">
                                <td style="border-bottom: 0px; padding: 0px !important;" class="mt-1">
                                  नगर निगम जयपुर
                                </td>
                              </tr>
                              <tr style="line-height: 1.4;">
                                <td style="display: flex; border-bottom: 0px; padding: 0px !important;" class="my-2">
                                  वार्ड संख्याः-    <span style="width:240px;"><strong style="margin-left: 14px;">&nbsp; 83</strong></span>
                                </td>
                              </tr>
                              <tr style="line-height: 1.4;">
                                <td style="display: flex; border-bottom: 0px; padding: 0px !important;" class="my-2">
                                  दिनांकः-    <span style="width:256px;"><strong style="margin-left: 14px;">&nbsp;  22-08-2026</strong></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td style="width: 55%; border:2px solid !important;">
                          <h6 class="text-center fw-bold">कार्यालय उपयोग हेतु</h6>
                          <table class="display table-borderless" width="100%" style="margin-bottom: 0.5rem;">
                            <tbody>
                              <tr style="line-height: 1.5;">
                                <td width="30%" style="border-bottom: 0px; padding: 0px !important;">
                                  प्राप्ति की तारीख
                                </td>
                                <td width="70%">
                                  <div style="width:100%; border-bottom: 2px dotted black">
                                    &nbsp;
                                  </div>
                                </td>
                              </tr>
                              <tr style="line-height: 1.5;">
                                <td width="30%" style="border-bottom: 0px; padding: 0px !important;">
                                 जमा राशि 
                                </td>
                                <td width="70%">
                                  <div style="width:100%; border-bottom: 2px dotted black">
                                    &nbsp;
                                  </div>
                                </td>
                              </tr>
                              <tr style="line-height: 1.5;">
                                <td width="30%" style="border-bottom: 0px; padding: 0px !important;">
                                  रसीद सं0
                                </td>
                                <td width="70%">
                                  <div style="width:100%; border-bottom: 2px dotted black">
                                    &nbsp;
                                  </div>
                                </td>
                              </tr>
                              <tr style="line-height: 1.5;">
                                <td width="30%" style="border-bottom: 0px; padding: 0px !important;">
                                  रसीद सं0
                                </td>
                                <td width="70%">
                                  <div style="width:100%; border-bottom: 2px dotted black">
                                    &nbsp;
                                  </div>
                                </td>
                              </tr>
                              <tr style="line-height: 1.5;">
                                <td width="30%" style="border-bottom: 0px; padding: 0px !important;">
                                  लिपिक के हस्ताक्षर
                                </td>
                                <td width="70%">
                                  <div style="width:100%; border-bottom: 2px dotted black">
                                    &nbsp;
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <table class="display table-borderless" width="100%">
                  <tbody>
                    <tr>
                      <td colspan="7" class="text-center">
                        <span style="padding:0px">
                          <h6 class="fw-bold"> 
                            (सामान्य सूचन)
                          </h6>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td width="3%">1</td>
                      <td width="34%">वित्तीय वर्ष जिससे कर संबंध</td>
                      <td colspan="5">
                        <div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;</div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>सम्बन्धित फर्म/प्रतिष्ठान का नाम</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp; <strong> Mayamahal </strong></div></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>फर्म/प्रतिष्ठान का पता</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp; <strong>  S 16 Mahaveer Marg C-scheme Jaipur</strong></div></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>दूरभाष सं./मो.</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong>  909900999</strong></div></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>विज्ञापन स्थल का पता</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong>  S 16 Mahaveer Marg C-scheme Jaipur ,Mahaveer Marg ,Jaipur - 302001</strong></div></td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>भवन स्वामी की विज्ञापन के लिए सहमति</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong>  </strong></div></td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>पिछले वर्ष के जमा शुल्क की विशिष्टियां</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp; <strong> </strong></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>(क) गत निर्धारण वर्ष</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp; <strong> </strong></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>(ख) उस वर्ष का निर्धारण शुल्क</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong> </strong></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>(ग) जमा शुल्क का विवरण</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong> </strong></div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>(घ) रसीद सं. एवं जमा तिथि</td>
                      <td colspan="5"><div style="border-bottom:2px dotted; margin-bottom:2px; padding: 2px;">&nbsp;<strong> </strong></div></td>
                    </tr>
                  </tbody>
                </table>

                <div class="second-page" style="page-break-after: always;">                        
                  <table class="display table-borderless" width="100%">
                    <tbody>
                      <tr>
                        <td width="3%">8</td>
                        <td width="97%">विज्ञापन का विवरण :-</td>
                      </tr>
                      <tr>
                        <td width="3%"><strong>&nbsp;</strong></td>
                        <td>
                          <table class="display table table-bordered" width="100%" border="1" style="border-collapse: collapse;">
                            <tbody>
                              <tr>
                                <td class="text-center" width="17%"><strong>विज्ञापन बोर्ड</strong></td>
                                <td class="text-center" width="17%"><strong>Store Code</strong></td>
                                <td class="text-center" width="17%"><strong>लंबाई</strong></td>
                                <td class="text-center" width="17%"><strong>चौड़ाई</strong></td>
                                <td class="text-center" width="17%"><strong>साईज ( Sq ft.)</strong></td>
                              </tr>
                              <tr>
                                <td class="text-center">Regular Board</td>
                                <td class="text-center">0</td>
                                <td class="text-center">2.50</td>
                                <td class="text-center">7.00</td>
                                <td class="text-center">17.50</td>
                              </tr>
                            </tbody>
                          </table>                    
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="display table-borderless" width="100%">
                    <tbody>
                      <tr>
                        <td width="3%">9</td>
                        <td width="97%">शुल्क का निर्धारण :-</td>
                      </tr>
                      <tr>
                        <td width="3%"><strong>&nbsp;</strong></td>
                        <td>
                          <table class="table table-bordered" width="100%" border="1" style="border-collapse: collapse;">
                            <tbody>
                              <tr>
                                <td class="text-center" width="18%"><strong>साईज ( Sq ft.)</strong></td>
                                <td class="text-center" width="18%"><strong>दर@ वित्तीय वर्ष</strong></td>
                                <td class="text-center" width="18%"><strong>शुल्क/राशि</strong></td>
                              </tr>
                              <tr>
                                  <td class="text-center">17.50</td>
                                  <td class="text-center">555.96</td>
                                  <td class="text-center"> </td>
                              </tr>
                              <tr>
                                  <td class="text-center">52.00</td>
                                  <td class="text-center">555.96</td>
                                  <td class="text-center"> </td>
                              </tr>
                            </tbody>
                          </table>                    
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table-borderless mt-5" width="100%">
                    <tbody>
                      <tr>
                        <td valign="bottom" width="50%" class="text-start">
                          हस्ताक्षर आवेदक
                        </td>
                        <td width="50%" class="text-end" valign="bottom">
                          हस्ताक्षर राजस्व अधिकारी/ कर निर्धारक/निरीक्षक
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table-borderless mt-3" width="100%">
                    <tbody>
                      <tr>
                        <td valign="bottom" width="100%" class="text-center">
                          सर्वेयर का नाम :-  &nbsp;<small> NARESH KUMAR VARMA</small>
                          <br>
                          Employee ID :-  &nbsp;<small> 003879</small>
                        </td>
                      </tr>
                      <br>
                      <tr>
                        <td valign="bottom" width="100%" class="text-center mt-2">
                          सर्वेकर्ता के हस्ताक्षर
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="d-print-none">
                <p class="text-center pt-2">
                    <button type="submit" class="btn btn-info btn-sm" onclick="printTable('printableArea')"><strong><i class="ri-printer-line"></i> Print</strong></button>
                </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function printTable(areaID) 
    {
        var printContent = document.getElementById(areaID).innerHTML;
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = originalContent;
    }
</script>
{% endblock %}