{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Advertisement Tax Management System
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}" type="image/png"/>
    <link href="{% static 'fonts/noto-sans-v42-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminresponsive.css' %}">


    <style>
        body { font-family: 'Noto sans', sans-serif; }
        .nav-item.show > a {
            background-color: #080074;
            color: #fff;
        }
        .nav-item > a.active {
            font-weight: 600;
        }
        @font-face {
            font-family: "remixicon";
            src: url("{% static 'remixicon/remixicon.woff2' %}") format("woff2");
            font-display: swap;
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 300;
            src: url("{% static 'fonts/noto-sans-v42-latin-300.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            src: url("{% static 'fonts/noto-sans-v42-latin-regular.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: italic;
            font-weight: 400;
            src: url("{% static 'fonts/noto-sans-v42-latin-italic.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            src: url("{% static 'fonts/noto-sans-v42-latin-500.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 600;
            src: url("{% static 'fonts/noto-sans-v42-latin-600.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            src: url("{% static 'fonts/noto-sans-v42-latin-700.woff2' %}") format('woff2'); 
        }
        @font-face {
            font-display: swap; 
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 800;
            src: url("{% static 'fonts/noto-sans-v42-latin-800.woff2' %}") format('woff2'); 
        }
    </style>
</head>
<body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="white">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="inky">
            <a href="{% url 'dashboard' %}" class="logo">
              <img src="{% static 'images/logo/logo.png' %}" alt="navbar brand" class="navbar-brand" height="44"/>
              <h4 style="color: white; padding: 6px 0 0 6px;"><strong>Adv Tax System</strong></h4>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="{% url 'dashboard' %}">
                  <i class="ri-home-3-line"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#advSetup">
                  <i class="ri-file-settings-line"></i>
                  <p>ADV Setup</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="advSetup">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'rate-type-master' %}">
                        <span class="sub-item">Rate Type Master</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Search Rate Type</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Document Master</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#reports">
                  <i class="ri-file-list-3-line"></i>
                  <p>Reports</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="reports">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Counter Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Dcb Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Summary Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Level Summary Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Wardwise Collection Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Userwise working Summary Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Saf Advertisement Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">FO Modification Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">All Updatation Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">TL Visit Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv TC Visit Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Pending Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Check & Hold Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Deactivate Report</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#accounts">
                  <i class="ri-book-line"></i>
                  <p>Accounts</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="accounts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Reconciliation</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Payment Mode Wise Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Cheque Bounce Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Transaction Deactivate Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Reconciliation Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Last Payment Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Last Payment Update Report</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#advTax">
                  <i class="ri-funds-line"></i>
                  <p>ADV Tax</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="advTax">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Advertisement Search</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Adv Survey Search</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Update Basic Details</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Update Board Size Details</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Update GSTIN No.</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Userwise Document Upload</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#surveyMail">
                  <i class="ri-mail-settings-line"></i>
                  <p>Survey Mail</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="surveyMail">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Inbox</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Sentbox</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Check & Hold</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Back From Top Officer</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#deactivate">
                  <i class="ri-file-close-line"></i>
                  <p>Deactivate</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="deactivate">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Deactivate Transaction</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Deactivate Advertisement</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="inky">
              <a href="{% url 'dashboard' %}" class="logo">
                <img src="{% static 'images/logo/logo.png' %}" alt="navbar brand" class="navbar-brand" height="20"/>
                <h6 style="color: white; padding: 6px 0 0 8px;"><strong>Adv Tax System</strong></h6>
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-icon dropdown hidden-caret" title="Quick Configuration">
                  <a class="nav-link" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="ri-gallery-view-2" style="font-size: 20px;"></i>
                  </a>
                  <div class="dropdown-menu quick-actions animated fadeIn">
                    <div class="quick-actions-header">
                      <span class="title mb-1">Quick Configuration</span>
                    </div>
                    <div class="quick-actions-scroll scrollbar-outer">
                      <div class="quick-actions-items">
                        <div class="row m-0">
                          <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-primary rounded-circle" >
                                <i class="ri-artboard-line"></i>
                              </div>
                              <span class="text">ADV</span>
                            </div>
                          </a>
                          <a class="col-6 col-md-4 p-0" href="#">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-secondary rounded-circle">
                                <i class="ri-computer-line"></i>
                              </div>
                              <span class="text">System</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item topbar-user dropdown hidden-caret" title="User">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false" >
                    <div class="avatar-sm">
                      <img src="{% static 'images/profile/user.png' %}" alt="profile" class="avatar-img rounded-circle" />
                    </div>
                    <span class="profile-username">
                      <span class="op-7"></span>
                      <span class="fw-bold">Admin Name</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img src="{% static 'images/profile/user.png' %}" alt="image profile" class="avatar-img rounded" />
                          </div>
                          <div class="u-text">
                            <h4>Admin Name</h4>
                            <p class="text-muted">Employee id</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'my-profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'change-password' %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li class="nav-item topbar-icon dropdown hidden-caret" title="Logout">
                  <a class="nav-link" href="#">
                    <i class="ri-logout-box-r-line" style="font-size: 20px;"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>

        {% block content %}
        {% endblock %}

        <!-- footer start -->
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <div class="copyright">
              <a href="#" target="_blank">© Copyright</a>
            </div>
          </div>
        </footer>
        <!-- footer end -->
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js" integrity="sha512-5AcaBUUUU/lxSEeEcruOIghqABnXF8TWqdIDXBZ2SNEtrTGvD408W/ShtKZf0JNjQUfOiRBJP+yHk6Ab2eFw3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="{% static 'js/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
