{% extends 'baseAuthority.html' %}
{% load static %}

{% block title %}ATMS Dashboard{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-2">
      <div class="page-header">
        <h4 class="fw-bold mb-3">Home | Advertisement Tax Management System</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card card-stats card-round">
          <div class="card-body text-center" id="dashboard-card">
            <h1><strong>Welcome to Advertisement Tax Management System</strong></h1>
            <div class="row align-items-center">
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
{% endblock %}